/* Root */
:root {
  --color-white: #ffffff;
  --color-black: #09060f;
  --color-dark-purple: #2e2b33;
  --color-purple: #be6ffc;
  --spacing--8: 8rem;
}

/* Global */
/*----------------------------------------------*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-black);
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-black);
  background-image: url(/Images/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Container */
.container {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Person */
.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.person img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.person img:hover {
  width: 10.5rem;
  height: 10.5rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.person h1 {
  color: var(--color-white);
  align-items: center;
  text-align: center;
  margin-bottom: 0;
  font-size: 2.4rem;
  font-weight: 700;
}

.person h2 {
  color: var(--color-purple);
  align-items: center;
  text-align: center;
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

/* Skills */
.title__skills {
  color: var(--color-white);
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.skills {
  justify-content: center;
  max-width: 56.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.skills ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  color: var(--color-white);
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.skills ul li {
  background-color: var(--color-dark-purple);
  padding: 0.7rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.skills ul li:hover {
  background-color: var(--color-purple);
}

/* Contact */
.title__contact {
  color: var(--color-white);
  align-items: center;
  text-align: center;
  padding-top: .5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.contact {
  justify-content: center;
  max-width: 56.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.contact ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  color: var(--color-white);
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.button__contact {
    background-color: var(--color-purple);
    color: var(--color-white);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px var(--color-purple);
    height: 2.5rem;
    width: 10rem;
}

.button__contact:hover {
    font-size: 3rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 3px 3px 3px 3px var(--color-dark-purple);
    height: 3rem;
    width: 11rem;
}

.downloadcv a{
    color: var(--color-purple);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px var(--color-white);
    text-decoration: none;
    height: 2.5rem;
    width: 10rem;
}

.downloadcv a:hover{
    font-size: 3rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 3px 3px 3px 3px var(--color-dark-purple);
    height: 3rem;
    width: 11rem;
}

/*----------------------------------------------*/

/* Vertical phone */
@media only screen and (max-width: 37.5em) {
  .container {
    padding-top: 2rem;
  }
  .person h1 {
    font-size: 2rem;
  }
  .person h2 {
    font-size: 1rem;
  }
  .title__skills {
    font-size: 1.3rem;
    padding: 0.3rem;
  }
  .skills ul {
    font-size: 0.8rem;
    padding-left: 0;
  }
  .title__contact {
    font-size: 1.3rem;
    padding: 0.3rem;
  }
  .contact ul {
    font-size: 0.8rem;
    padding-left: 0;
  }
}

/* Horizontal phone */
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .container {
    padding-top: 1.5rem;
    background-image: url(/Images/Background.png);
    background-size: cover;
    background-repeat: repeat;
  }
  .person h1 {
    font-size: 2rem;
  }
  .person h2 {
    font-size: 1rem;
  }
  .title__skills {
    font-size: 1.3rem;
    padding: 0.3rem;
  }
  .skills ul {
    font-size: 0.8rem;
    padding-left: 0;
  }
  .title__contact {
    font-size: 1.3rem;
    padding: 0.3rem;
  }
  .contact ul {
    font-size: 0.8rem;
    padding-left: 0;
  }
}
